.widgetLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
}

.widgetsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.widgetColumn {
  display: flex;
  min-width: 400px; /* Ensure there is always an area to drop */
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

#columnLeft {
  margin-top: 60px;
}

#columnRight {
  margin-right: 0px;
}

.widget {
  width: 400px;
  min-height: 250px;
  background-color: #FFFFFF;
  padding: 0.75em;
  margin-bottom: 15px;
  border-radius: 0.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
  position: relative;
}

.widgetHeader {
  height: 10%;
  margin: 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}


.widgetDockRight {
  background:white;
}

.widgetLayoutContainer {
  display:grid;
  width:100%;
  height:calc(100vh - 50px);
  margin-top:calc(-100vh + 50px);
  z-index:5;
  pointer-events: none;
}

.widgetActiveCell {
  pointer-events: all;
  position: relative;
  user-select: none;
  background:white;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  
}

.widgetLayoutCell, .widgetActiveCell {
  display: flex;
  align-items: center;
  justify-content: center;
}

.widgetLayoutCell {
  background:none;
  transition:350ms all;
  opacity:0.75;
}



.widgetLayoutCell span{
  width:1rem;
  height:1rem;
  border-radius:50%;
  background: var(--selected-color);
  transition:250ms all;
  opacity:0;
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.widgetLayoutContainerGuides {
}

.widgetLayoutContainerGuides .widgetLayoutCell span {
  pointer-events: all;
  opacity:1;
}

.hoveredWidgetLayoutCell {
  background: var(--selected-color-light-transparent);
  border:2px solid var(--dark);
}

.hoveredWidgetLayoutCell span {
  width:3rem;
  height:3rem;
}

.grip {
  position: absolute;
  left:50%;
  transform:translate(-50%) rotate(90deg);
  top:5px;
  color:var(--selected-color);
  cursor: move;
  z-index:5;
}