.widgetLayer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50px;
}

.widgetsContainer {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}


.widgetColumn {
  display: flex;
  min-width: 400px; /* Ensure there is always an area to drop */
  flex-direction: column;
  justify-content: flex-start;
  overflow: auto;
}

#columnLeft {
  margin-top: 60px;
}

#columnRight {
  margin-right: 0px;
}

.widget {
  width: 400px;
  min-height: 250px;
  background-color: #FFFFFF;
  padding: 0.75em;
  margin-bottom: 15px;
  border-radius: 0.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  z-index: 1;
  position: relative;
}

.widgetHeader {
  height: 10%;
  margin: 0;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}


.widgetDockRight {
  background:white;
}