.panelContainer {
  background: red;
  position: absolute;
  left: 0.5rem;
  top: calc(0.5rem);
  background: hsla(0, 0%, 100%, 0.85);
  backdrop-filter: blur(5px) brightness(90%) contrast(100%);
  min-height: 10px;
  padding: 0.75em;
  border-radius: 0.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.panelContainer p {
  margin:0;
  padding:0;
}
