html,
body {
  padding: 0;
  margin: 0;
  font-family: "Lora", Georgia, "Times New Roman", Times, serif;
}

p {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.35;
}

button {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --selected-color: #1816cc77;
  --selected-color-light: #acaccc;
  --medium-gray: rgb(156, 156, 156);
  --orange: #e27213;
  --green: #06cd57;
  --sky: #0bbedb;
  --blue: #1816cc;
  --transparent: rgba(255, 255, 255, 0);
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: 200ms all;
  border-bottom: 1px solid var(--transparent);
}

* {
  box-sizing: border-box;
}
/** reach UI Styling */

nav [data-reach-menu-button] {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  background: none;
  border: none;
  cursor: pointer;
  transition: 250ms all;
  padding: 0 0.25em 0.25em 0.25em;
  border-radius: 0.125em;
  border: 1px solid var(--transparent);
}

nav [data-reach-menu-button]:hover {
  border-bottom: 1px solid var(--medium-gray);
}

div [data-reach-menu-list],
div [data-reach-menu-items] {
  background: hsla(0, 0%, 100%, 0.6);
  backdrop-filter: blur(5px) brightness(90%) contrast(100%);
}
div [data-reach-menu-list] {
  padding: 0;
  border-radius: 0.25em;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-1px);
}

div [data-reach-menu-items] {
  font-family: "Lato", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  font-weight: bold;
}

div [data-reach-menu-item] {
  padding: 0.5em 1em;
}

div [data-reach-menu-item][data-selected] {
  background: var(--selected-color);
}

div#view-default-view {
  z-index:5;
}